body{
    /* clean first look */
    margin: 0;
    padding: 0;

    /* centering everything */
    display: flex;
    justify-content: center;
    height: 100vh; /*full height of the viewport*/
    align-items: center; /* req height */

}

#piano{
    height: 290px;
    padding: 90px 30px 0 30px;
    background-color: rgb(74, 238, 238);
    border-radius: 10px;
}

.keys{
    position: relative;
}

.white-keys{
    display: flex;

}

.white-key{
    width: 68px;
    height: 280px;
    border-radius: 0 0 5px 5px;
    border: solid #000 2px; 
    box-sizing: border-box;
    background-color: #fff;
}